*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    text-align: center;
}
/* 
btn-outline-dark
font-family: 'Island Moments', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Orelega One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Island Moments', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif; */



@media screen and (max-width:768px){
    h2{
        font-family:'Oswald', sans-serif;
    
        color: rgb(94, 206, 206);
        font-size: 1rem;
        margin: 10px;
        
    }
    .enter-date{
        margin: 20px 0px;
        
    }
    /* .enter{
        
        display: flex;
        margin: auto;
    } */
    .inputy{
        width: 40%;
        border: 1px solid rgb(121, 78, 78);
        margin: 6px 4px;
    }
    .pp1{
        margin: 20px;
        font-size: 1.5rem;
       color: rgb(187, 52, 176);
       font-family: 'Oswald', sans-serif;
       
    }
    .navbar-brand{
        
        font-family: 'Nunito Sans', sans-serif;
    }
    .r1{
        color: rgb(111, 161, 78);
        
    }
    .r2{
        color: rgb(102, 255, 0);
        font-family: 'Oswald', sans-serif;
    }
    .r3{
        color: rgb(163, 87, 87);
        font-family: 'Orelega One', cursive;
        margin: 2px;
    }
    .r4{
        color: blueviolet;
        font-family: 'Orelega One', cursive;
    }
}
